$dark-text: #425829;

body {
  color: $dark-text;
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif;
}

#root {
  position: absolute;
  width: 50%;
  height: 40%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 150, 136, 0.18);
}

.icon-1 {
  position: absolute;
  width: 50%;
  height: 10%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 150, 136, 0.18);
}

.icon-2 {
  position: absolute;
  width: 50%;
  height: 10%;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 150, 136, 0.18);
}

.icon-3 {
  position: absolute;
  width: 50%;
  height: 10%;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 150, 136, 0.18);
}

.icon-1:hover, .icon-2:hover, .icon-3:hover {
  background-color: rgba(0, 150, 136, 0.32);
}

h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 200;
  font-size: 1.5rem;
}

p {
  font-weight: 200;
  font-size: 1.2rem;
}

.mini {
  font-weight: 190;
  font-size: .9rem;
}

.octocat, .linkedin, .instagram {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 2em;
  height: 2em;
}



@media (max-width: 600px) {

  #root {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 150, 136, 0.18);
  }

  .icon-1 {
    position: absolute;
    width: 80%;
    height: 10%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 150, 136, 0.18);
  }

  .icon-2 {
    position: absolute;
    width: 80%;
    height: 10%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 150, 136, 0.18);
  }

  .icon-3 {
    position: absolute;
    width: 80%;
    height: 10%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 150, 136, 0.18);
  }
 }
